{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

    <script>
      $(document).ready(function() {
        $(".tog").click(function() {
          $(this).siblings(".show").toggle();
        });
      });

      $(document).ready(function() {
        $('textarea').keydown(function() {
          if (event.keyCode == 13) {
            this.form.submit();
          return false;
          }
        });
      });
    </script>

    <div class="col add title tog">ADD APPLICATION</div>
    <div class="col title"><a class="remind" href="/reminder">REMINDER</a></div>
    <div class="show">
      <form action="{{ url_for('add_application') }}" method=post class=add>
        <dl>
          <dt>
            <input type=string size=30 name=company placeholder="Company">
            <input type=text size=30 name=position placeholder="Position">
            <input type=text size=10 name=date placeholder="mm/dd/yyyy">
          <dt>
            <select name="Status">
              <option value="Interviewing">Interviewing</option>
              <option value="Got Offer">Got Offer</option>
              <option value="Waiting">Waiting</option>
              <option value="Rejected">Rejected</option>
            </select>
            <input type=text size=30 name=contact placeholder="Contact">
            <input type=text size=30 name=email placeholder="email@email.com">
          <dt>
            <textarea name=notes rows=5 cols=42 placeholder="Notes..."></textarea>
            <textarea name=interview rows=5 cols=42 placeholder="Interview..."></textarea>
          <dd><input type=submit class="hide" value=ADD>
        </dl>
      </form>
    </div>
  {% endif %}

  <div class="container">
    <div class="col company title"> COMPANY </div>
    <div class="col position title"> POSITION </div>
    <div class="col date title"> DATE </div>
    <div class="col status title"> STATUS </div>
    <div class="col contact title"> CONTACT </div>
  </div>

  {% for app in applications %}
    <div class="container">
      <div class="col company"> {{ app.company }} 
        <div class="triangle">
          <a href="/{{ app.company }}"> <span class="link"></span> </a>
        </div>
      </div>
      <div class="col position"> {{ app.position }} </div>
      <div class="col date"> {{ app.date }} </div>
      <div class="col status"> {{ app.status }} </div>
      <div class="col contact"> {{ app.contact }} </div>
    </div>
  {% endfor %}
{% endblock %}
